body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f8fb;
    color: #333;
}

header {
    background-color: #1e88e5;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center; 
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.card:hover {
    transform: translateY(-5px);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e88e5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.button:hover {
    background-color: #1565c0;
}

.center {
    text-align: center;
}
